/* misc defaults */
:root {
  --max-width: 90%;
  --font-sans: "Atkinson Hyperlegible Next", ui-sans-serif, sans-serif;
  --font-mono: "Iosevka Web", ui-monospace, monospace;
  --font-size: 16px
}

main {
  max-width: var(--max-width);
}

header h1 {
  font-family: var(--font-mono);
  font-weight: 900;
}

body {
  text-align: justify;
  font-family: var(--font-sans);
  font-weight: 400;
}

html {
  font-size: var(--font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style-position: inside;
}

hr {
  margin: 0 0 1em 0;
}

h2,
h3 {
  margin: 0.6em 0 0 0;
}

/* force min height to avoid jitter when font loads */
header {
  min-height: 44px;
}

/* strip padding */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* add padding to bottom of page */
main {
  margin: 0 auto 10px auto;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}

button {
  border: 1px solid var(--color-text-muted);
  border-radius: 3px;
  background-color: var(--color-bg);
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}

hr {
  color: var(--color-bar);
}

/* nav bar alignment/styling */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.15em 0 0.15em 0;
}

header nav ul li {
  border-color: var(--color-text);
  margin-left: 6px;
  list-style-type: none;
  display: inline;
}

/* navbar spacers */
header nav ul li:not(:last-child)::after {
  content: "|";
  margin-left: 6px;
  color: var(--color-text-muted);
}

/* remove extra spacing between header list elements */
header nav ul {
  font-size: 0em;
}

header nav ul li {
  font-size: var(--font-size);
}

/* special navbar link styling */
header nav a {
  color: var(--color-text-muted);
}

header nav a:hover {
  color: var(--color-link);
}